 * {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;

}


body {
  margin: 0;
  font-family: "Lucida Grande";
  width: 100%;
}





a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image:  url(https://user-images.githubusercontent.com/99820483/169759277-5596356d-3148-44a8-9615-58bd4e2ab843.jpg);
  background-size: cover;
  color: #ffff;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.instagram {
  background-color: #fb3958;
}

.btn {
  padding: 16px 12px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 70px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.header-left h2 a:hover {
  background-color: : white;
  padding: 15px;

}
.header-left a {
  color:#55acee;
}

.header-left h2 a:hover{
  transition: background-color .5s ease-in-out;
}

.header-left h2 {
  display:inline-block;
  float:left;
  padding:20px 14px;
  text-transform: uppercase;
  text-align: center;
  color:rgba(30, 233, 255, 0.5);
}
.header-left:after{
  content: '';
  display: block;
  clear: left;
}
  .logo {
  width: 110px;
  height: 60px;
  margin-top: 5px;
  float: left;
}



.header-left {
  float: right;
}

.header-right  {
  float: right;
  margin-right: -25px;
}

.header-right a:hover {
  background-color: rgba(34, 49, 52, 0.9);
}

.header-right ul li {
  padding bottom:10px;
  display: inline-block;
}

.header-right {
  float: right;
  margin-right: -25px;
}
.header-right a {
  line-height: 65px;
  padding: 0 25px;
   color:#55acee;
  display: inline-block;
  transition: all 0.3s;
}
  
.lesson-wrapper {
  height: 450px;
  padding-bottom: 40px;
  background-color: #f7f7f7;
  text-align: center;
  padding-top: 60px;
}



/* Tambahkan CSS untuk menu-icon */
/*.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  /* Gantikan property display ke none */
  display: none;
}

*/


.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.heading h4 h2{
  text-align: center;
  padding-left: 2px;
}
.heading  p {
  text-align: justify;
  padding-left: 2px;
  justify-content:flex-end;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 0px;
  width: 100%;
  color: white;
  margin-top: 85px;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 15px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 60px;
  text-align: center;
  padding-top: 60px;
}

.message {
  padding:30px 60px;
  background-color: black;
  box-shadow: 0 7px white;
  display: inline-block;
  width: 100%;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}
.col-4 img:hover {
/*transform: scale(1,2);
*/}

.col-4 img{
 padding-left: 4px;

}

.message a {
  color:#800080;
  padding-bottom: 10px;
}
/* .message a:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transition background-color: .5s ease-in-out;
} */
html {
  scroll-behavior: smooth;
}

footer small {
  color: #fff;
}

footer {
  padding: 25px;
  background-color: #333;
  text-align: center;
  

}


.border1 {
  border-style: solid;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 3px;
  padding-right: 3px;
  background-image: linear-gradient( 109.6deg,  rgba(245,239,249,1) 30.1%, rgba(207,211,236,1) 100.2% );  opacity: 1.2;

}


.border2 {
  border-style: solid;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 3px;
  padding-right: 3px;
  background-image: linear-gradient( 109.6deg,  rgba(245,239,249,1) 30.1%, rgba(207,211,236,1) 100.2% );  opacity: 1.2;
  justify-content:flex-end;
  text-align: justify;
}

.border2 h4 {
  text-align: center;
}

.border3 {
  border-style: solid;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 3px;
  padding-right: 3px;
  background-image: linear-gradient( 109.6deg,  rgba(245,239,249,1) 30.1%, rgba(207,211,236,1) 100.2% );  opacity: 1.2;
;
  justify-content:flex-end;
  text-align: justify;
}

.border3 h4 {
  text-align: center;
}

.border1  p {
  padding: 5px 10px 5px 10px ;
}


.border2  p {
  padding: 5px 10px 5px 10px ;
}

.border3  p {
  padding: 5px 10px 5px 10px ;
}
.message1 {
  padding:30px 60px;
  background-color: black;
  display: inline-block;
  width: 100%;
}
/* .message1:active {
  position: relative;
  top: 7px;
  box-shadow: none;
} */
.message1 a {
  padding-bottom: 20px;
  color:#800080;
}
/* .message1 a:hover { */
/* background-color: rgba(255, 255, 255, 0.5);

} */
.col-3  img:hover {
  cursor: pointer;
  opacity: 0.5;
}
.col-3 img  {
  padding-left: 2px;
  padding-bottom: 2px;
}



section.container5 {
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
  margin: 0;
  background-color: #2E765E;
}
.container5 {
  background-color: #2E765E;
  padding: 100px 0 0 0;
  display: flexbox;
}



.galery > .jumbo {
  width: 500px;
  border: 2px solid white;
  padding: 2px;
  margin-bottom: 10px;
}

.thumb:hover {
  opacity: 0.5;
  cursor: pointer;
}

.galery > .col-4 > img > .thumb {
  width: 110px;
}


.galery1 > .jumbo1 {
  width: 500px;
  height: 250px;
  border: 2px solid white;
  padding: 2px;
  margin-bottom: 10px;
}

.thumb1:hover {
  opacity: 0.5;
  cursor: pointer;
}

.galery1 > .col-3 > img > .thumb1 {
  width: 110px;
}


@keyframes fadeIn {
  to {
    opacity: 1;
  }

}

.fade {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}


@media only screen and (min-width: 480px) and (max-width: 767px) {
    .header-right {
      display: block;
    }

    .nav {
      display: block;
    }

  
}

/* responsive */


body{
	margin:0;
	padding:0;
	font-family: sans-serif;
}
 
menu{
	width: 100%;
	background:  rgba(34, 49, 52, 0.9);

}
 
ul{
	width: 80%;
	margin: 0 auto;
	padding: 0;
}
 
ul li{
	list-style: none;
	display: inline-block;
	padding: 20px;
   ;
}
 
ul li:hover{
	background: #55acee;
  transition: .5s
  
}
 
ul li a{
	color:#fff;
	text-decoration: none;
 

}
 
.toggle{
	width: 100%;
	padding: 10px 20px;
	background: rgba(34, 49, 52, 0.9);
	text-align: right;
	box-sizing: border-box;
	color: #fff;
	font-size: 25px;
	display: none;
}
 
@media (max-width: 750px)
{
	.toggle{
		display: block;
    width: 100%;
    cursor: pointer;
	}
	ul{
		width: 100%;
		display: none;
	}
	ul li{
		display: block;
		text-align: center;

	}
	.active{
		display: block;
	}

  menu {
    padding: 4px 2px 4px 2px;
  }
  .header-left {
    display: none;
  }

  .jumbo {
    display: none;
  }
  .jumbo1 {
    display: none;
  }

  .kecil {
    font-size: 14px;
  }
  .hilang {
    font-size: 12px;
  }

  .thumb1 {
    margin-left: -24px ;
  }

   .thumb{
    margin-left: -20px;
    }

  .btn-wrapper {
    font-size: 14px;
  }

  /* .kecil1 {
    font-size: 22px;

  } */

  .kecil2 {
    font-size: 17px;
  }

  .thumb1 {
    display: none;
  }

 .message1 a {
  display: none;
 }

 .lesson-icon img {
  /* height: 150px; */
  width: 100%;
  padding-left: 10px;
  
 }
 .lesson-icon p {
  font-size: 10px;
  margin-top: 35px;
 }

 .text-contents {
  margin: 0;
 }
 .lesson-wrapper {
  height: 280px;
 }

}

.heading > h2 {
  padding-bottom: 10px;
}

